.profileNavbar {
    
    flex-wrap: nowrap;
    justify-content: left;
    padding: 12px 0;
    height: 30em;
    box-sizing: border-box;
    border-radius: 2em;
    letter-spacing: .3em;
    background-color: #DFDDFF;
    
}

.profileNavbar__item {
    flex-basis: 20%;
    list-style-type: none;
    color: black;
    margin-top: 2em;
    padding: .5em;
}
